nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(241, 140, 7);
    gap: 45px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: aquamarine;
}

nav a svg {
    margin-right: 5px;
}